<a class="spo-item-image" href="<%= url %>" target="_blank">
  <img src="http://dsbw.ru/public/site/images/photo/spo/preview/<%= id %>.jpg" class="img-rounded">
</a>
<div class="spo-item-data">
  <h5 class="spo-item-name"><a href="<%= url %>" target="_blank"><%= getName(name) %></a></h5>
  <a class="spo-item-price" href="<%= url %>" target="_blank">
    <span class="label label-info"><%= getPrice(textWithPrice) %></span>
  </a>
  <div class="spo-item-details"><%= getDetails(details) %></div>
</div>
