<h3 class="text-muted">Основной пакет</h3>

<% if (showPricePerTourist) { %>
<h4>Стоимость за человека</h4>
<ul>
    <li>Основное размещение &mdash; <strong><%= price.primaryCostPerTourist %> <%= price.currency %></strong></li>

    <% if (price.extraCostPerTourist > 0) { %>
    <li>Дополнительное размещение &mdash; <strong><%= price.extraCostPerTourist %> <%= price.currency %></strong></li>
    <% } %>
</ul>
<% } %>

<% if (items) { %>
<h4>В стоимость входит</h4>
<ul>
    <% _.each(items, function(item) { %>
    <li><%= getPackageItem(item) %></li>
    <% }) %>
</ul>
<% } %>

<% if (services) { %>

<h4>В стоимость входит</h4>
<table class="table tour-booking-package-service-collection">
    <% _.each(services, function (service) { %>
    <tr>
        <td>
            <%= service.name %>
        </td>
    </tr>
    <% }) %>
</table>
<% } %>


<div class="tour-booking-price">
    <h4 class="text-info">Стоимость осн. пакета
        <span><%= getPrice(price) %></span>
    </h4>
</div>


