<div class="col-xs-4">
  <h3>Тур</h3>
</div>
<div class="col-xs-8">
  <% if (isSelectable(variants)) { %>
  <select class="form-control" id="tour-booking-variant" name="currentVariantId">
    <% _.each(variants, function(variant) { %>
    <option <% if (variant.id == currentVariantId) { %>selected="selected"<% } %> value="<%= variant.id %>"><%= variant.name %></option>
    <% }) %>
  </select>
    <a class="tour-booking-page-link" href="/tour/<%= id %>" target="_blank">Описание тура</a>
  <% } else { %>
  <h4 class="tour-booking-variant-selected">
    <a href="/tour/<%= id %>" target="_blank"><%= getFirstVariant(variants).name %></a>
  </h4>
  <% } %>
</div>
