<img class="pay-terminal" src="<%= util.image('pay', 'terminal.png') %>">
<h3>Оплата через платежные терминалы</h3>
<p class="pay-logo">

  <a class="pay-goto-terminal" href="<%= terminalLinks.tourPay %>" target="_blank">
    <img src="<%= util.image('pay', 'tourpay.png') %>" alt="">
  </a>
  <a class="pay-goto-terminal" href="<%= terminalLinks.svyaznoy %>" target="_blank">
    <img src="<%= util.image('pay', 'svyaznoy.png') %>" alt="">
  </a>
  <a class="pay-goto-terminal" href="<%= terminalLinks.rapida %>" target="_blank">
    <img src="<%= util.image('pay', 'rapida.png') %>" alt="">
  </a>
  <a class="pay-goto-terminal" href="<%= terminalLinks.payTravel %>" target="_blank">
      <img src="<%= util.image('pay', 'paytravel.png') %>" alt="">
  </a>

</p>
<p>Время зачисления средств на бронь: <strong>моментально</strong></p>

<h4>Оплата через терминалы это:</h4>
<ul class="unstyled">
  <li><strong>быстро</strong> — информация о платеже поступает в DSBW в режиме on-linе;</li>
  <li><strong>без дополнительных затрат</strong> — комиссия с плательщика не взимается;</li>
  <li><strong>удобно</strong> — оплата наличными денежными средствами;</li>
  <li><strong>близко</strong> — терминалы устанавливаются непосредственно в вашем офисе. Также терминалы установлены в наших московских и региональных представительствах и в уполномоченных агентствах;</li>
  <li><strong>круглосуточно и без выходных</strong> — по режиму работы вашего офиса (если терминал принимает платежи в вашем офисе);</li>
  <li><strong>безопасно</strong> — трехступенчатая проверка правильности вводимой информации (наличие брони на нашем сервере, сверка Ф. И. О. туриста, чек).</li>
</ul>
<p><a href="http://www.dsbw.ru/docs/Terminal_list.xls"><strong>Список терминалов</strong></a> постоянно увеличивается и обновляется.</p>


<h3>Оплата заказа на кассах салонов связи</h3>
<p class="pay-logo">
  <img src="<%= util.image('pay', 'svyaznoy.png') %>" alt="">
  <img src="<%= util.image('pay', 'euroset.png') %>" alt="">
</p>
<p>Время зачисления средств на бронь - <strong>моментально</strong></p>
<ol>
  <li>Сообщите продавцу о своем намерении оплатить туристические услуги DSBW-TOURS континент</li>
  <li>Назовите номер заказа, выданный Вам при бронировании (10 символов), сумму к оплате.</li>
  <li>Дополнительно продавец попросит Вас назвать номер мобильного телефона, а также паспортные данные, в случае, если платеж превышает 15 000 рублей.</li>
  <li>Продавец распечатает пречек. Внимательно проверьте правильность информации о заказе, подпишите пречек и верните продавцу.</li>
  <li>Произведите оплату и получите кассовый чек.</li>
</ol>

<p><strong>Комиссия с плательщика не взимается (0%)</strong>. Услуги предоставляются ООО НКО "Рапида". Платежи принимаются на всей территории РФ. Паспорт обязателен при платеже свыше 15 000 рублей. Лимит одного платежа 500 000 рублей.</p>
<h3>Адреса магазинов</h3>
<ul>
  <li><strong><a target="_blank" href="http://euroset.ru/shops/">Евросеть</a></strong></li>
  <li><strong><a target="_blank" href="http://www.svyaznoy.ru/address_shops/">Связной</a></strong></li>
</ul>
